.informative-container {
  margin-bottom: 30px;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
  &.red {
    background-color: #f7d7da;
    color: #711e26;
    visibility: visible;
  }

  &.blue {
    background-color: #cde5fe;
    visibility: visible;
    color: #4f779f;
  }
  p {
    text-align: center;
  }
}
